body{background-color: rgb(182, 161, 161);font-variant:small-caps;}
h1{margin:auto;color:blanchedalmond;text-align:center;font-size:xx-large;}
#menuImage{background-color: aliceblue;text-align: center;}
#menuPrincipal{background-color: rgb(87, 131, 87);}
#corps1{background-color: rgb(167, 144, 89);}
#menuVertical{background-color: rgb(80, 105, 128);}
#BoxImage{background-color: rgb(77, 163, 163);}
#corps2{background-color: rgb(101, 101, 156);}
#menuHorizontal{background-color: rgb(42, 63, 63);}
#searchBarre{text-align: center;}
